.app {
    display: grid;
    justify-items: center;
    font-family: Helvetica, Arial, sens-serif;
}

.toggle-button {
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 10px;
    border: 2px solid #333;
    cursor: pointer;
    display: grid;
    box-sizing: border-box;
}

.toggle-button-inner {
    width: 10px;
    height: 10px;
    background-color: #eee;
    border: 1px solid #333;
    border-radius: 100%;
    align-self: center;
    margin-left: 10%;
    box-sizing: border-box;
    transition: margin-left 200ms;
}

.toggle-button.disabled .toggle-button-inner {
    margin-left: 10%;
}

.toggle-button.enabled .toggle-button-inner {
    margin-left: 70%;
}

.toggle-button.enabled {
    background-color: rgb(125, 212, 125);
}

.toggle-button.enabled:hover {
    background-color: rgb(152, 230, 152);
}

.toggle-button.disabled {
    background-color: rgb(255, 102, 102);
}

.toggle-button.disabled:hover {
    background-color: rgb(248, 131, 131);
}