.app {
    display: grid;
    justify-items: center;
    font-family: Helvetica, Arial, sens-serif;
}

.preview-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    margin-bottom: 1rem;
}

.cv-container {
    width: 40%;
}

@media only screen and (max-width: 600px) {
    .cv-container {
        width: 85%;
    }
}