.icon-button {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    column-gap: 5px;
    background-color: rgb(47, 172, 255);
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.icon-button:hover {
    background-color: rgb(108, 196, 255);
}

.icon-button svg {
    justify-self: end;
    fill: #fff;
}

.icon-button span {
    justify-self: start;
    color: #fff;
    font-weight: bold;
}

.icon-button-green {
    background-color: rgb(120, 216, 91);
    margin-bottom: 10px;
}

.icon-button-green:hover {
    background-color: rgb(162, 219, 144);
}

.icon-button-red {
    background-color: rgb(255, 68, 68);
}

.icon-button-red:hover {
    background-color: rgb(248, 90, 90);
}