.personal-info-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    padding-bottom: 1rem;
    grid-template-rows: auto 1fr auto;
}

.email-container {
    grid-row: 3;
}

.name-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 1 / span 2;
}

.first-name-container {
    margin-right: .3rem;
}

.first-name, .first-name-input, .last-name, .last-name-input {
    font-size: 22px;
}

.personal-info-section .section-content {
    margin-bottom: 1rem;
}