.personal-info-section {
    grid-template-rows: auto 1fr auto;

}

.personal-info-section .section-content {
    grid-template-columns: 1fr 1fr;
}

.email-container {
    grid-row: 3;
}

.email-label {
    display: grid;
}

.telephone-label {
    display: grid;
}

.name-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 1 / span 2;
    justify-items: start;
}

.first-name-container {
    margin-right: .3rem;
}

.first-name, .first-name-input, .last-name, .last-name-input {
    font-size: 22px;
}

.telephone-input {
    width: 60%;
}

.email-input {
    width: 80%;
}