.personal-info-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
}

.personal-info-section div{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
}

.email-container {
    grid-row: 3;
}

.name-container {
    grid-column: 1 / span 2;
}
}