.practical-experience-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
}

.title-company-wrapper {
    display: grid;
    grid-row: 1;
}

.company-name-container {
    grid-row: 2;
}

.position-title-container {
    grid-row: 1;
}

.position-title {
    font-weight: bold;
    font-size: 18px;
}

.description-container {
    grid-row: 2;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.practical-experience-dates-container {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 14px;
    align-items: end;
    gap: 5px;
}

.start-date-container {
    grid-column: 1;
}

.end-date-container {
    grid-column: 3;
}