.practical-experience-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    margin-bottom: 1rem;
}

.position-title-container {
    grid-row: 1;
}

.company-name-container {
    grid-row: 2;
}

.company-name-input {
    width: 85%;
}

.position-title {
    font-weight: bold;
    font-size: 18px;
}

.position-title-input {
    width: 70%;
}

.description-container {
    grid-row: 3;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-column: 1 / span 2;
}

.practical-experience-years {
    justify-self: end;
    grid-row: 2;
    align-self: end;
}

.description-textarea {
    width: 100%;
}

.description {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.remove-practical-experience-button {
    grid-row: -1;
    align-self: center;
    justify-self: start;
}
