.practical-experience-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
}

.position-title-container {
    grid-row: 1;
}

.company-name-container {
    grid-row: 2;
}

.position-title {
    font-weight: bold;
    font-size: 18px;
}

.description-container {
    grid-row: 3;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.practical-experience-years {
    justify-self: end;
    grid-row: 2;
    align-self: end;
}