.year-range-component {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    font-size: 14px;
    grid-auto-flow: column;
}

.start-year-container {
    justify-self: end;
}

.end-year-container {
    justify-self: start;
}

.is-current-container {
    margin-left: 1rem;
}